* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #c41230;
}

.navbar {
  background-color: black;
}

.navbar-item {
  color: white;
  font-weight: bolder;
}

#root > nav > div > div.navbar-end > a:nth-child(1) {
  padding-top: 32px;
}

.hero-body {
  background-color: #c41230;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card {
  padding: 5px;
}

.containers {
  margin: 10px;
}

.login-container {
  padding: 10px;
  margin: 10px;
}

.notification-container {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.scan-container {
  border: 2px solid black;
  margin: 20px;
}


/* ==================== comment ========================== */

.title {
  color: black;
}

