

.user-container {
  border: 1px solid red;
  margin: 20px;
}

.notification-container {
  border: 1px solid steelblue;
  margin: 10px;
}

.scan-container {
  border: 1px solid blue;
  margin: 20px;
}

.asset-container {
  border: 1px solid green;
  margin: 10px;
}

.scanner-container {
  border: 1px solid purple;
  margin: 10px;
}