/* global styles */
* {
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

body {
  background-color: #c41230;
}

.title {
  color: black;
  margin-top: 30px;
}

hr {
  margin: 10px;
}

/* end of global styles */


/* navbar */
.navbar {
  background-color: black;
}

.navbar-item {
  color: white;
  font-weight: bolder;
}

#root > nav > div > div.navbar-end > a:nth-child(1) {
  padding-top: 32px;
}
/* end of navbar */


/* hero styles */
.hero-body {
  background-color: #c41230;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* end of hero */

/* scan page styles */
#heading {
  margin: 0 0 10px 0;
}

.scan-container {
  border: 2px solid black;
  margin: 20px;
}

.scanners {
  border: 1px solid black;
  margin: 10px;
}

.scanner-names {
  display: flex;
}

.individual-scanner {
  border: 1px solid black;
  padding: 5px;
}

.card {
  padding: 5px;
}

.containers {
  margin: 10px;
}

.individual-vuln {
  border: 1px solid black;
  padding: 5px;
}

/* end of scan page */


/* user page */

.login-container {
  padding: 10px;
  margin: 10px;
}

.notification-container {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
/* end of user */