

.user-container {
  border: 1px solid red;
  margin: 20px;
}

.login-container {
  border: 1px solid red;
  margin: 10px;
}

.notification-container {
  border: 1px solid steelblue;
  margin: 10px;
}

.scan-container {
  border: 1px solid blue;
  margin: 20px;
}

.details-container {
  border: 1px solid goldenrod;
  margin: 10px;
}

.asset-container {
  border: 1px solid green;
  margin: 10px;
}

.scanner-container {
  border: 1px solid purple;
  margin: 10px;
}

.vun-container {
  border: 1px solid indianred;
  margin: 10px;
}

.sev-container {
  border: 1px solid olive;
  margin: 10px;
}